rich
pyreadline3
r2pipe
inquirer
llama-cpp-python==0.2.90
huggingface_hub==0.22.2
appdirs
unidecode
jsonref
pydantic
tokentrim
chromadb
openai==1.44.1
anthropic
boto3
colorama
textual
litellm
instructor
