rich
pyreadline3
r2pipe
inquirer
llama-cpp-python==0.2.90
huggingface_hub==0.22.2
appdirs
unidecode
jsonref
transformers
pydantic
tokentrim
chromadb
openai
anthropic
boto3
colorama
himl==0.15.2
dacite==1.8.1