# TODO: add windows
name: ci

env:
  R2V: 5.9.8

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Installing radare2
      run: |
        wget "https://github.com/radareorg/radare2/releases/download/${R2V}/radare2_${R2V}_amd64.deb"
        wget "https://github.com/radareorg/radare2/releases/download/${R2V}/radare2-dev_${R2V}_amd64.deb"
        sudo dpkg -i "radare2_${R2V}_amd64.deb"
        sudo dpkg -i "radare2-dev_${R2V}_amd64.deb"
    - name: Building the C rewrite
      run: make -C src
    - name: Running r2ai from r2
      run: r2 -q -c 'r2ai -h' --
  python-linux:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Installing radare2
      run: |
        wget "https://github.com/radareorg/radare2/releases/download/${R2V}/radare2_${R2V}_amd64.deb"
        wget "https://github.com/radareorg/radare2/releases/download/${R2V}/radare2-dev_${R2V}_amd64.deb"
        sudo dpkg -i "radare2_${R2V}_amd64.deb"
        sudo dpkg -i "radare2-dev_${R2V}_amd64.deb"
    - name: Setting up the Python virtual environment
      run: |
        cd py
        python -m venv venv
        . venv/bin/activate
        pip install pylint
        cd ..
    - name: Install Python dependencies
      run: |
        cd py
        . venv/bin/activate
        pip install .
        cd ..
    - name: Linting
      run: |
        cd py
        . venv/bin/activate
        make cilint
        cd ..
    - name: Running r2ai from the shell
      run: |
        cd py
        . venv/bin/activate
        python -m r2ai.cli -h
        cd ..
    - name: Running r2ai from r2pipe
      run: |
        cd py
        . venv/bin/activate
        r2 -q -c '#!pipe python -m r2ai.cli -h' /bin/ls
        cd ..
    - name: Running r2ai from r2
      run: |
        cd py
        . venv/bin/activate
        r2 -q -i r2ai/plugin.py -c r2ai /bin/ls
        cd ..
